:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5a8e95;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#app {

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #656666;
  }
  a:hover {
    color: #747bff;
  }
  .buttons  {
    background-color: #000000;
    color: #e9e7e7;
  }
  .handsontable{
    color: #000000 !important;
  }
  .handsontable td {
    background-color: #bbb !important;
    border-right: 1px solid #e7dfdf !important;
    border-bottom: 1px solid #e7dfdf !important;
  }

}
